<div class="bg-slate-200 w-full p-5">
  <%- title 'New Team' %>
  <%= render 'shared/admin/header' %>

  <div class="m-10 border bg-white border-slate-300 rounded-md p-3">
    <%= render "form", panel_team: @panel_team %>
  </div>
</div>
