<tr class="hover:bg-slate-200 hover:cursor-pointer border-b-2">
  <td class="p-5"><%= campaign.name %></td>
  <td class="p-5">$<%= campaign.amount %></td>
  <td class="p-5">10</td>
  <td class="p-5">11</td>
  <td class="p-5">21.05.2021</td>
  <td class="p-5">22.01.2022</td>
  <td class="p-5"><%= link_to 'Edit', edit_panel_campaign_path(campaign),
                              class: 'hover:border-1 hover:text-white rounded-md p-1 hover:bg-blue-400' %></td>
  <td class="p-5"><%= link_to 'Delete', panel_campaign_path(campaign),
                              data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                              class: 'hover:border-1 hover:text-white rounded-md p-1 hover:bg-red-800' %></td>
</tr>
