<div class="bg-slate-200 w-full p-5">
  <%- title "Edit campaign - #{@campaign.name}" %>
  <%= render 'shared/admin/header' %>
  <%= render 'panel/campaigns/form', campaign: @campaign,
             errors: @campaign&.errors&.messages.blank? ? nil : @campaign&.errors&.messages %>
</div>
