<p style="color: green"><%= notice %></p>

<h1>Tickets</h1>

<div id="panel_tickets">
  <% @panel_tickets.each do |panel_ticket| %>
    <%= render panel_ticket %>
    <p>
      <%= link_to "Show this ticket", panel_ticket %>
    </p>
  <% end %>
</div>

<%= link_to "New ticket", new_panel_ticket_path %>
