<div class="bg-slate-200 w-full p-5">
  <%- title 'New ticket' %>
  <%= render 'shared/admin/header' %>

  <!-- info | success | warning | error -->
  <div class="absolute top-5 right-5 flex flex-col">
<!--    <div class="flex flex-col text-blue-900 bg-blue-100 p-3 my-3 w-96 rounded-md"-->
<!--         data-controller="notification" data-notification-target="notification">-->
<!--      <div class="flex justify-between items-center pb-2">-->
        <%#= fa_icon 'info-circle' %>
<!--        <span class="flex-1 px-5 font-bold">Error title</span>-->
        <%#= fa_icon 'times', class: 'cursor-pointer', 'data-action': 'click->notification#close' %>
<!--      </div>-->
<!--      <p>Some long error message. Here you'll see full info about the error.</p>-->
<!--    </div>-->
<!--    <div class="flex flex-col text-green-900 bg-green-100 p-3 my-3 w-96 rounded-md">-->
<!--      <div class="flex justify-between items-center pb-2">-->
        <%#= fa_icon 'check-square' %>
<!--        <span class="flex-1 px-5 font-bold">Success title</span>-->
        <%#= fa_icon 'times', class: 'cursor-pointer' %>
<!--      </div>-->
<!--      <p>Some long success message. Here you'll see full info about the success.</p>-->
<!--    </div>-->
<!--    <div class="flex flex-col text-yellow-900 bg-yellow-100 p-3 my-3 w-96 rounded-md">-->
<!--      <div class="flex justify-between items-center pb-2">-->
        <%#= fa_icon 'question-circle' %>
<!--        <span class="flex-1 px-5 font-bold">Warning title</span>-->
        <%#= fa_icon 'times', class: 'cursor-pointer' %>
<!--      </div>-->
<!--      <p>Some long warning message. Here you'll see full info about the warning.</p>-->
<!--    </div>-->
<!--    <div class="flex flex-col text-red-900 bg-red-100 p-3 my-3 w-96 rounded-md">-->
<!--      <div class="flex justify-between items-center pb-2">-->
        <%#= fa_icon 'exclamation-triangle' %>
<!--        <span class="flex-1 px-5 font-bold">Error title</span>-->
        <%#= fa_icon 'times', class: 'cursor-pointer' %>
<!--      </div>-->
<!--      <p>Some long error message. Here you'll see full info about the error.</p>-->
<!--    </div>-->
  </div>

  <%= render "form", ticket: @ticket %>

  <br>

  <div>
    <%= link_to "Back to my tickets", panel_tickets_path, class: 'm-5 hover:underline' %>
  </div>
</div>
