
<%= form_with model: @comment, url: panel_campaign_comments_path(@comment.campaign), class: 'm-5',
              data: { turbo_frame: "comments-for-campaign-#{@campaign.id}" } do |form| %>

  <div class="form-inputs">
    <%= form.rich_text_area :content %>
  </div>

  <div class="m-3">
    <%= form.submit class: 'hover:text-white p-2 rounded-md border-slate-300 border-2 cursor-pointer hover:bg-blue-600' %>
  </div>
<% end %>
