<div class="bg-slate-200 w-full p-5">
  <%- title "Settings" %>
  <%= render 'shared/admin/header' %>
  <div>
    <h2>Account information</h2>
    <p>email</p>
    <p>password</p>
    <p>personal api token</p>
  </div>
  <div>
    <h2>Personal information</h2>
    <p>First name</p>
    <p>Last name</p>
    <p>avatar</p>
  </div>
  <div>
    <h2>Team information</h2>
    <p>Soon in 2022</p>
  </div>
</div>
