<div class="form-inputs bg-white">
  <%= form.rich_text_area :content %>
</div>

<div class="m-3">
  <%= form.submit class: 'hover:text-white p-2 rounded-md border-slate-300 border-2 cursor-pointer hover:bg-blue-600' %>
</div>
