<h1>Editing comment</h1>

<%= turbo_frame_tag dom_id(@comment) do %>
  <%= form_with model: @comment, url: panel_campaign_comment_path(@comment.campaign, @comment), class: 'm-5',
                data: { turbo_frame: "comments-for-campaign-#{@comment.campaign.id}" } do |form| %>
    <%= render "form", comment: @comment, form: form %>
  <% end %>
<% end %>

