<div class="flex flex-col w-full">
  <div class="flex flex-col items-center">
    <h1 class="text-3xl m-2">Cookie Notice</h1>
  </div>
  <div class="flex flex-col m-6 bg-slate-100 p-6 rounded-md">
    <h2 class="text-2xl m-2">In general</h2>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      &#10071; We use a wide range of cookies on our website, some of which are controlled by ourselves (first party) and some of which are controlled by other organizations (third party). Some of the cookies are considered as necessary for us to be able to deliver the website to you and others help us enhance our understanding of how you use our website as well as assist us in our marketing activities.
    </p>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      &#10071; Under the Act on Electronic Communications Services of Finland (917/2014), we are required to obtain your consent for any use of cookies which is not considered as necessary, as well as provide you with information as to what these cookies do.
    </p>
  </div>

  <div class="flex flex-col m-6 bg-slate-100 p-6 rounded-md">
    <h2 class="text-2xl m-2">About cookies</h2>
    <div class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      <p>&#10071; Cookies on our website are used for a variety of different purposes, but generally speaking their use breaks down into the following categories:</p>
      <ul class="list-disc m-5">
        <li>Necessary cookies, which are cookies required for the operation of our website. They include, for example, cookies that enable you to securely use our website.</li>
        <li>Non-essential cookies, which are cookies used for business purposes which are not considered necessary to deliver the website to you. Such cookies include analytics cookies and marketing cookies.</li>
      </ul>
    </div>
    <div class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      <p>&#10071; We use the following non-essential cookies:</p>
      <ul class="list-disc m-5">
        <li>Doubleclick</li>
        <li>Facebook</li>
        <li>Google Analytics</li>
        <li>G2</li>
        <li>Twitter</li>
        <li>Youtube</li>
      </ul>
    </div>
  </div>

  <div class="flex flex-col m-6 bg-slate-100 p-6 rounded-md">
    <h2 class="text-2xl m-2">Your choices regarding these cookies</h2>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      &#10071; Necessary cookies will be placed in your web browser without your prior consent. These are being used to maintain the functionality of the website. Any non-essential cookies will only be placed in your web browser with your prior consent.
    </p>
  </div>
</div>
