<div class="flex flex-col w-full">
  <div class="flex flex-col items-center">
    <h1 class="text-3xl m-2">General Privacy Notice</h1>
  </div>
  <div class="flex flex-col m-6 bg-slate-100 p-6 rounded-md">
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      With this InviteMe’s General Privacy Notice we provide you information on why and how we process your personal data in our in our general business operations (not including InviteMe service).
    </p>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      If you would like to know how we process personal data in our InviteMe service, please have a look at our InviteMe Service’s Privacy Notice.
    </p>
  </div>
  <div class="flex flex-col m-6 bg-slate-100 p-6 rounded-md">
    <h2 class="text-2xl m-2">WHAT DEFINITIONS ARE USED IN THIS PRIVACY NOTICE?</h2>
    <div class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      <p class="my-2 text-justify">Controller means a party that is in charge of the personal data processing activities.</p>

      <p class="my-2 text-justify">Data subject is a term for a human being in accordance with data protection laws.</p>

      <p class="my-2 text-justify">DPO means an independent representative of a controller or a processor who helps the controller or the processor ensure that it complies with relevant data protection laws.</p>

      <p class="my-2 text-justify">Legal basis for processing means the legal basis with which the controller processes personal data of a data subject. Article 6 of the GDPR contains provisions on legal basis for processing.</p>

      <p class="my-2 text-justify">Personal data means any data concerning a data subject or data with which a data subject can be identified with.</p>

      <p class="my-2 text-justify">Privacy Notice means a data protection document that has been drafted according to Articles 13 and 14 of the GDPR, and with which the controller may inform its data subjects of the ways their personal data is processed.</p>

      <p class="my-2 text-justify">Processor means a party that processes personal data for and on behalf of the controller.</p>

      <p class="my-2 text-justify">Purpose for processing means the reason why the controller processes personal data of a data subject.</p>
    </div>
  </div>

  <div class="flex flex-col m-6 bg-slate-100 p-6 rounded-md">
    <h2 class="text-2xl m-2">WHY DO WE PROCESS YOUR PERSONAL DATA?</h2>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      We process personal in our general business operations to carry out business relationships, recruiting, communications and website control. We process contact details, IP addresses and other data disclosed to us by the data subjects.
    </p>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      Our legal basis for processing personal data depends on the purpose for which we process personal data. Therefore, our legal basis is the performance of a contract in contractual matters, our legitimate interests in recruiting as well as communications and consent in ePrivacy matters (basically meaning cookies).
    </p>
  </div>

  <div class="flex flex-col m-6 bg-slate-100 p-6 rounded-md">
    <h2 class="text-2xl m-2">FROM WHERE DO WE COLLECT YOUR PERSONAL DATA?</h2>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      We collect your personal data from different sources, depending on our purposes for processing personal data. In our business relationships we collect personal data from the contact person of our business partner, our other business partners and public sources (such as the internet and trade register). In other matters we collect personal data from the data subject themselves as well as the means by which they disclose data to us (e.g. LinkedIn or cookies).
    </p>
  </div>

  <div class="flex flex-col m-6 bg-slate-100 p-6 rounded-md">
    <h2 class="text-2xl m-2">DO WE TRANSFER YOUR PERSONAL DATA?</h2>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      We may transfer your personal data to third party service providers, as it is a normal course of doing business in a digitalized world (i.e. data storage service providers and communications services providers). When personal data is transferred to third parties, we ensure that we conclude adequate personal data processing agreements and safeguards in relation to the data transfers.
    </p>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      As our servers are located within the EU, by default we shall not transfer your personal data outside the EU/EEA. However, if you use our service outside the EU/EEA or to transfer personal data outside the EU/EEA we may transfer personal data outside the EU and the EEA. When doing so, we ensure adequate safeguards for the data transfer, such as standard contractual clauses.
    </p>
  </div>

  <div class="flex flex-col m-6 bg-slate-100 p-6 rounded-md">
    <h2 class="text-2xl m-2">HOW LONG DO WE RETAIN YOUR PERSONAL DATA?</h2>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      The retention period of personal data depends on the purposes for which we process personal data. We inspect the necessity of the personal data stored regularly and keep records of the inspections.
    </p>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      We retain personal data for contractual purposes for as long as it is necessary to fulfil the contractual obligations, recruiting purposes for a period of 12 months from the receival day of the job application and other purposes for as long as it is necessary to fulfil the purpose of data processing.
    </p>
  </div>

  <div class="flex flex-col m-6 bg-slate-100 p-6 rounded-md">
    <h2 class="text-2xl m-2">WHAT DATA PROTECTION RIGHTS DO YOU HAVE?</h2>
    <div class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      <p>You may have the right to use the below listed data protection rights under the GDPR: </p>
      <ul class="list-disc m-5">
        <li>Right to inspect (art. 15)</li>
        <li>Right to rectify (art. 16)</li>
        <li>Right to erasure (art. 17)</li>
        <li>Right to restriction of processing (art. 18)</li>
        <li>Right to data portability (art. 20)</li>
        <li>Right to object (art. 21)</li>
        <li>Automated individual decision-making, including profiling (art. 22)</li>
      </ul>
    </div>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      You may also have a right to lodge a complaint with the data protection authorities, if you think that the processing of your personal data infringes data protection laws.
    </p>
  </div>

  <div class="flex flex-col m-6 bg-slate-100 p-6 rounded-md">
    <h2 class="text-2xl m-2">HOW CAN YOU DELETE YOUR DATA FROM INVITEME?</h2>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      You can request for your personal data to be deleted from InviteMe by contacting us using our contact <%= link_to 'form', contacts_path, class: 'underline' %>.
    </p>
  </div>

  <div class="flex flex-col m-6 bg-slate-100 p-6 rounded-md">
    <h2 class="text-2xl m-2">CAN THIS PRIVACY NOTICE BE AMENDED?</h2>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      We have a unilateral right to modify this Privacy Notice. The modifications take effect immediately when we post the up-to-date version of our Privacy Notice to our website.
    </p>
    <p class="text-justify m-3 bg-slate-200 p-6 rounded-md">
      Last update on 23 February 2022.
    </p>
  </div>
</div>
